@use '_functions.scss' as f;
.header {
  font-family: var(--font-en);
  font-weight: var(--font-regular);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-regular);
  letter-spacing: f.ls(60);
  padding: f.vw(375, 28) f.vw(375, 30) 0;
  @include f.media("s") {
    padding: 28px 30px 0;
  }
  @include f.media("lg") {
    font-size: f.rem(16);
    padding: f.vw(1366, 80) f.vw(1366, 68) 0;
  }
  @include f.media("xl") {
    padding: 80px 68px 0;
  }
  &::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0));
    z-index: -1;
  }
}