@use '_functions.scss' as f;

.pageNext {
  margin-top: f.vw(375, 134);
  @include f.media("s") {
    margin-top: 134px;
  }
  @include f.media("lg") {
    margin-top: f.vw(1366, 270);
    margin-left: f.vw(1366, -60);
    margin-right: f.vw(1366, -60);
    width: f.vw(1366, 988);
    display: grid;
    grid-template-columns: 1fr minmax(50%, max-content);
    column-gap: f.p(988, 24);
    flex-flow: row nowrap;
    align-items: center;
  }
  @include f.media("xl") {
    width: 988px;
    margin-top: 270px;
    margin-left: -60px;
    margin-right: -60px;
  }
  &__titles {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }
  &__title {
    font-size: f.rem(18);
    font-family: var(--font-en);
    letter-spacing: f.ls(40);
    font-weight: var(--font-regular);
    padding-right: 0.5em;
  }
  &__line {
    height: 1px;
    width: 100%;
    background: var(--color-white);
  }
  &__link {
    margin-top: f.vw(375, 30);
    display: inline-block;
    @include f.media("s") {
      margin-top: f.rem(30);
    }
    @include f.media("lg") {
      margin-top: 0;
    }
  }
}
