@use '_functions.scss' as f;
.field {
  &__label {
    font-size: f.rem(14);
    letter-spacing: f.ls(40);
    font-family: var(--font-en);
    font-weight: var(--font-regular);
    @include f.media('lg') {
      font-size: f.rem(16);
    }
  }

  &__require {
    font-size: f.rem(14);
    color: var(--color-error);
    letter-spacing: f.ls(40);
    font-family: var(--font-en);
    font-weight: var(--font-regular);
    margin-left: 1em;
    @include f.media('xl') {
      margin-left: 0;
    }
  }
}
