@use '_functions.scss' as f;
.field {
  padding-bottom: f.vw(375, 36);
  @include f.media('s') {
    padding-bottom: f.rem(36);
  }
  @include f.media('xl') {
    width: 100%;
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr f.p(768, 600);
    column-gap: f.p(768, 20);
    padding-bottom: f.rem(40);
  }

  &__error {
    color: var(--color-error);
    position: absolute;
    font-size: f.rem(13);
    bottom: -1.4em;
    @include f.media('lg') {
      font-size: f.rem(15);
    }
  }

  &__labels {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include f.media('xl') {
      align-items: flex-start;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }

  &__label {
    font-size: f.rem(14);
    letter-spacing: f.ls(40);
    font-family: var(--font-en);
    font-weight: var(--font-regular);
    @include f.media('lg') {
      font-size: f.rem(16);
    }
  }

  &__require {
    font-size: f.rem(14);
    color: var(--color-error);
    letter-spacing: f.ls(40);
    font-family: var(--font-en);
    font-weight: var(--font-regular);
    margin-left: 1em;
    @include f.media('xl') {
      margin-left: 0;
    }
  }
  &__box-wrap {
    position: relative;
    width: auto;
    margin-top: f.rem(7);
    @include f.media('xl') {
      margin-top: 0;
    }
  }

  &__box {
    background: rgba($color: #fff, $alpha: 0.5);
    transition: border;
    color: var(--color-black);
    min-height: 48px;
    padding: 0 14px;
    font-size: f.rem(16);
    position: relative;
    width: 100%;
    transition: border 0.2s linear, background 0.2s linear;
    @include f.media('lg') {
      min-height: 58px;
    }
    &:focus,
    &:focus-visible {
      outline: none;
      background: rgba($color: #fff, $alpha: 1);
    }
    &.error {
      border: 1px solid var(--color-gray);
      background: rgba($color: #fff, $alpha: 1);
    }
  }

  &__textarea {
    min-height: 224px;
    padding: 14px 14px;
    @include f.media('lg') {
      min-height: 200px;
    }
  }
}
