@use '_functions.scss' as f;
.wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.icon {
  position: absolute;
  right: 1em;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: auto;
  z-index: 1;
  fill: var(--color-gray);
  transition: fill 0.2s linear;
  &:hover {
    fill: inherit;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
