@use '_functions.scss' as f;

.contents {
  margin-top: f.vw(375, 70);
  @include f.media('s') {
    margin-top: 70px;
  }
  @include f.media('lg') {
    margin-top: f.vw(1280, 130);
  }
  @include f.media('xl') {
    margin-top: 130px;
  }
  &__text {
    font-size: f.vw(375, 31);
    margin-top: f.vw(375, 24);
    font-family: var(--font-en);
    font-weight: var(--font-regular);
    line-height: f.lh(32, 46);
    letter-spacing: 0;
    @include f.media('s') {
      font-size: f.rem(31);
      margin-top: 24px;
    }
    @include f.media('lg') {
      font-size: f.vw(1366, 60);
      margin-top: 26px;
      line-height: f.lh(60, 77);
      white-space: nowrap;
    }
    @include f.media('xl') {
      font-size: f.rem(60);
    }
  }
  &__data {
    margin-left: f.vw(375, 30);
    margin-top: f.vw(375, 30);
    font-size: f.rem(14);
    letter-spacing: f.ls(40);
    line-height: f.lh(14, 22);

    @include f.media('s') {
      margin-left: 30px;
      margin-top: 30px;
    }
    @include f.media('lg') {
      display: flex;
      flex-flow: row nowrap;
      margin-left: 0;
      margin-top: f.vw(1366, 76);
    }
    @include f.media('xl') {
      margin-top: 76px;
    }
    &-label {
      color: var(--color-gray);
      white-space: nowrap;
      font-family: var(--font-en);
      font-weight: var(--font-regular);
    }
    &-desc {
      word-break: normal;
      margin-top: f.rem(2);
      @include f.media('lg') {
        margin-left: f.vw(1366, 30);
        margin-top: 0;
      }
      @include f.media('xl') {
        margin-left: 30px;
      }
    }
  }
}
.contact {
  padding-top: f.vw(375, 102);
  @include f.media('s') {
    padding-top: 102px;
  }
  @include f.media('lg') {
    padding-top: f.vw(1366, 200);
  }
  @include f.media('xl') {
    padding-top: 200px;
  }
}
